.list {
  width: var(--list-w);
  min-width: var(--list-w);
  max-width: var(--list-w);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg-sidebar);
  border-right: 1px solid var(--bd);
  flex-shrink: 0;
}
